<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!-- h-ui的css -->
		 <link th:href="@{/h-ui/css/H-ui.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/h-ui/css/H-ui.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/h-ui.admin/css/style.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/h-ui.admin/css/H-ui.admin.css}" rel="stylesheet" type="text/css"/>
		<link  th:href="@{/h-ui.admin/skin/default/skin.css}" rel="stylesheet" type="text/css" id="skin" />
		<!-- 图标样式的css -->
		<link th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" rel="stylesheet" type="text/css" />
		<!-- 美化表单元素的css -->
		<link  th:href="@{/icheck/icheck.css}" rel="stylesheet" type="text/css"/>
		<!-- 自动补全css -->
		<link th:href="@{/css/jquery-ui.css}" rel="stylesheet" type="text/css"/>
		<link  th:href="@{/lib/layui-v2.2.45/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/reset/reset.css}" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>歌星管理 <span class="c-gray en">&gt;</span>歌星列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<div class="page-container">
			<form id="stuForm" action="/singer/listSinger" method="post" >
				<input type="hidden" id="pageNum" name="pageNum"  />
				<div class="text-c">歌星名：
					<input type="text" class="input-text radius" style="width:250px" id="singer_name" name="name" th:value="${singer.singerName}">
					&nbsp;&nbsp;歌星类型:
					<select name="singerTypeId" class="radius" id="singerType" style="width:100px;height:30px;">
							<option value="">---请选择---</option>
							<option th:each="type:${singerType}" th:text="*{type.name}" th:value="*{type.id}" th:selected="${type.id == singer.singerType}"></option>
					</select>
					<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜歌星</button>
				</div>
			</form>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> 
				<span class="l">
						<a href="javascript:;" th:style="${session.current_role.getRoleAdd() == 0}?'display:none':''" onclick="singer_add()" class="btn btn-primary radius">
							<i class="Hui-iconfont">&#xe600;</i> 添加歌手
						</a>
				</span>
				<span class="r">共有数据：<strong th:text="${pagehelper.total}"></strong> 条</span>
			</div>
			<div class="mt-20">
			<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>
					<tr class="text-c">
						<th width="80">序号</th>
						<th width="80">歌星名字</th>
						<th width="100">歌星拼音</th>\
						<th width="200">歌星头像</th>
						<th width="40">歌星类型</th>
						<th width="90">歌星点击率</th>
						<th width="60">审核状态</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
						<tr class="text-c" th:each="singer,iterStat:${singerList}">
							<td th:text="${iterStat.index+1}"></td>
							<td th:text="${singer.singerName}"></td>
							<td th:text="${singer.singerPinyin}"></td>
							<td ><img width="140px" th:src="${singer.serverUrl}?${singer.serverUrl+singer.prefixPath+singer.headerPath}:''" alt="歌星头像" class="thumbnail"></td>
							<td th:text="${singer.singerType}"  class="singerType"></td>
							<td th:text="${singer.singerOdertimes}"></td>
							<td th:text="${singer.status == '0'} ? '未审核':'审核通过'"></td>
							<td class="td-manage">
								<a title="编辑" href="javascript:;" th:style="${session.current_role.getRoleUpdate() == 0}?'display:none':''" th:onclick="'javascript:singer_edit('+${singer.id}+')'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont" style="font-size:20px;">&#xe6df;</i></a>
								<a title="删除" href="javascript:;" th:style="${session.current_role.getRoleDel() == 0}?'display:none':''" th:onclick="'javascript:singleDel(this,'+${singer.id}+')'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont" style="font-size:20px;">&#xe6e2;</i></a>
								<a title="审核" href="javascript:;" th:style="${session.current_role.getRoleCheck() == 0}?'display:none':''" th:onclick="'javascript:passCheck('+${singer.id}+')'" th:class="${singer.status == '1'}?'ml-5 hidden':'ml-5'"   style="font-size:20px;"><i class="Hui-iconfont" style="font-size:20px;">&#xe6e1;</i></a>
							</td>
						</tr>
				</tbody>
			</table>
				<div id="layPage" style="float:right"></div>
			</div>
		</div>
	</body>
	<!-- h-ui的js -->
	<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/h-ui/js/H-ui.js}"></script>
	<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
	<!-- 弹出层js -->
	<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
	<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
	<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
	<!-- 自动补全js -->
	<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
	<!--分页插件jquery pagination-->
	<script type="text/javascript" th:src="@{/lib/layui-v2.2.45/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/platform/js/singer/singer_list.js}"></script>
	<script type="text/javascript">
        layui.use('laypage',function(){
            var laypage = layui.laypage;
            //分页
            laypage.render({
                elem: 'layPage' //分页容器的id
                ,count: [[${pagehelper.pages}]] //总页数
                ,curr:[[${pagehelper.pageNum}]]//当前页
                ,skin: '#FF5722' //自定义选中色值
                ,skip: true //开启跳页
                ,jump: function(obj, first){
                    if(!first){
                        layer.msg('第'+ obj.curr +'页');
                        if([[${pagehelper.pageNum}]] != obj.curr){
                            $("#pageNum").val(obj.curr);
                            $("#stuForm").submit();
                        }
                    }
                }
            });
        });
	</script>
</html>