<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
	<script type="text/javascript" th:src="@{/lib/html5shiv.js}"></script>
	<script type="text/javascript" th:src="@{/lib/respond.min.js}"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
	<link rel="stylesheet" th:href="@{/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
	<link th:href="@{/css/reset/reset.css}" rel="stylesheet" type="text/css"/>
	<!--[if IE 6]>
	<script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}" ></script>

	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<title>数据字典</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>系统管理<span class="c-gray en">&gt;</span>数据字典<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<span  th:text="${dictList}"></span>
<table class="table">
	<tr>
		<td width="200" class="va-t">
			<ul id="treeMenu" class="ztree">
			</ul>
		</td>
		<td class="va-t"><iframe ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=800px ></iframe></td>
	</tr>
</table>
<div class="contextMenu" id="enumMenu">
	<ul>
		<li id="addEnumType"  th:style="${session.current_role.getRoleAdd() == 0}?'display:none':''">增加</li>
		<li id="delEnumType"  th:style="${session.current_role.getRoleDel() == 0}?'display:none':''">删除</li>
	</ul>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->


<script type="text/javascript" th:src="@{/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.contextmenu/jquery.contextmenu.r2.js}"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/platform/js/enum/enum_list.js}"></script>
</body>
</html>