<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎来到音特电子后台管理系统 <span class="f-14">v1.0</span></p>
</div>
<footer class="footer mt-20">
	<div class="container" height="500px">
		<p><br>
			Copyright &copy;2017音特电子（深圳）有限公司<br>
			本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">音特电子</a>开发</p>
	</div>
</footer>

</body>
</html>