<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>export pwd set</title>
</head>
<body>
    <form>
        <div class="row cl" >
            <label class="form-label col-xs-3">密码</label>
            <div class="formControls col-xs-8" >
                <input id="password" name="password" type="password" placeholder="请输入密码" class="input-text cn.enter" width="200px"  value = "" required="required"/>
            </div>
        </div>
        <div class="row cl" >
            <label class="form-label col-xs-3">确认密码</label>
            <div class="formControls col-xs-8" >
                <input id="password" name="password" type="password" placeholder="请输入密码" class="input-text cn.enter" width="200px"  value = "" required="required"/>
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-xs-8 col-xs-offset-3">
                <input name="" type="submit" class="btn-success"  value="&nbsp;确&nbsp;认&nbsp;" style="font-size:16px;"/>
            </div>
        </div>
    </form>
</body>
</html>