<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" th:href="@{/favicon.ico}" >
<link rel="Shortcut Icon" th:href="@{/favicon.ico}" />
<!--[if lt IE 9]>
<script type="text/javascript" th:src="@{/html5shiv.js}"></script>
<script type="text/javascript" th:src="@{/respond.min.js}"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
<!--分页插件样式-->
	<link  th:href="@{/pagination/css/jqpagination.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/css/reset/reset.css}" rel="stylesheet" type="text/css"/>
	<!--[if IE 6]>
<script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}" ></script>
<script>DD_belatedPNG.fix('*');</script>

<![endif]-->
<title>管理员列表</title>
</head>
<body>
<div class="page-container">
	<form id="stuForm" th:action="@{/templates/role/roleToAccount}">
		<input type="hidden" id="pageNum" name="pageNum" />
		<div class="text-c">
			<input type="hidden" id="operateType" name="operateType" th:value="${operateType}"/>
			<input type="hidden" id="role_id" name="role_id" th:value="${role_id}"/>
			<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="username" name="username" th:value="${username}">
			<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
		</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" th:onclick="'javascript:role_to_admin('+${operateType}+')'" th:class="${operateType == '1'} ?'btn btn-danger radius':'btn btn-primary radius'" th:utext="${logo}"></a>
		</span>
		<span class="r">共有数据：<strong th:text="${pagehelper.total}"></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">员工列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">序号</th>
				<th width="150">账户名</th>
				<!--<th width="130">上次登录时间</th>-->
				<!--<th width="130">上次登录IP</th>-->
				<!--<th width="100">是否已启用</th>-->
				<!--<th width="100">操作</th>-->
			</tr>
		</thead>
		<tbody>
			<tr class="text-c" th:each="item,iterStat : ${accountList}">
				<td><input type="checkbox" th:value="${item.id}" name="id"></td>
				<td th:text="${iterStat.index + 1}"></td>
				<td th:text="${item.username}"></td>
				<!--<td th:text="${item.lastLoginTime}"></td>-->
				<!--<td th:text="${item.lastLoginIp}"></td>-->
				<!--<td class="td-status"><span class="label label-success radius" th:text="${item.status == 1} ? '已启用':'未启用'"></span></td>-->
				<!--<td class="td-manage">-->
					<!--<a style="text-decoration:none" th:onClick="${item.status == 1} ? 'javascript:admin_stop(this,'+${item.id}+')' : 'javascript:admin_start(this,'+${item.id}+')'" href="javascript:;" th:title="${item.status == 1} ? '停用':'启用'"><i th:class="${item.status == 1} ? 'Hui-iconfont Hui-iconfont-weigouxuan': 'Hui-iconfont Hui-iconfont-gouxuan'"></i></a>-->
					<!--<a title="编辑" href="javascript:;" th:onclick="'javascript:admin_edit(' + ${item.id} + ')'"  class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>-->
				<!--</td>-->
			</tr>
		</tbody>
	</table>
	<div class="pagination" style="float:right;">
		<a href="#" class="first" data-action="first">&laquo;</a>
		<a href="#" class="previous" data-action="previous">&lsaquo;</a>
		<input type="text" readonly="readonly" data-max-page="40" />
		<a href="#" class="next" data-action="next">&rsaquo;</a>
		<a href="#" class="last" data-action="last">&raquo;</a>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
<!--分页插件jquery pagination-->
<script type="text/javascript" th:src="@{/pagination/js/jquery.jqpagination.js}"></script>
<script type="text/javascript" th:src="@{/pagination/js/jquery.jqpagination.min.js}"></script>
<!--自定义js-->
<script type="text/javascript" th:src="@{/platform/js/role/role_to_account.js}"></script>
<script type="text/javascript">
    $(".pagination").jqPagination({
        current_page:[[${pagehelper.pageNum}]],
        max_page:[[${pagehelper.pages}]],
        page_string : '当前第{current_page}页,共{max_page}页',
        paged: function(page) {
            if([[${pagehelper.pageNum}]] != page){
                $("#pageNum").val(page);
                $("#stuForm").submit();
            }
        }
    });

</script>
</body>
</html>